.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom: 2px solid #ffffff!important;
    line-height: 1px!important;
    margin-bottom: 2px!important;
}

.navbar-inner .navbar-default{
-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;
border-radius: 0!important;
    background-image: none!important;
}

* {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;

    text-shadow: none!important;

    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}

.tab-content{
    background-color:#18453b!important;
    color:#18453b!important;
    padding:5px!important;
}

.panel-footer > a{
    color:#fff!important;
    text-decoration: none!important;
}
